{
    "env": {
        "node": true
    },
    "extends": [
        "standard-with-typescript"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2021,
        "project": "./tsconfig.json",
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "@typescript-eslint/indent": [
            "error",
            4
        ],
        "quotes": [
            "error",
            "single"
        ],
        "sort-keys": [
            "error",
            "asc"
        ]
    }
}